body {
  margin: 0;
  font-family: Segoe UI;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background:
    radial-gradient(circle at 20% 20%, #1a1a3a, #090917),
    radial-gradient(circle at 80% 80%, #3c0066, #090917);

  color: white;
}